In [1]:
from glob import glob
import pandas as pd
import numpy as np
from scipy import stats  
import matplotlib.pyplot as plt
import japanize_matplotlib

In [2]:
files = glob("../csv/例題_データアナリティクス基礎/*")
for i, f in enumerate(files):
    print(i, f)

0 ../csv/例題_データアナリティクス基礎\例題10_自由記述データ&形態素解析データ.xlsx
1 ../csv/例題_データアナリティクス基礎\例題11_乱数で発生させた分布の基本統計量.xlsx
2 ../csv/例題_データアナリティクス基礎\例題1_自転車データ.xlsx
3 ../csv/例題_データアナリティクス基礎\例題2_顧客ID付き食品購入データ.xlsx
4 ../csv/例題_データアナリティクス基礎\例題3_テレビ視聴アンケートデータ.xlsx
5 ../csv/例題_データアナリティクス基礎\例題4_5つの地域の事業所数.xlsx
6 ../csv/例題_データアナリティクス基礎\例題5_関東地方の人口データ.xlsx
7 ../csv/例題_データアナリティクス基礎\例題7_異なる授業形態による成績データ.xlsx
8 ../csv/例題_データアナリティクス基礎\例題8_遊園地テーマパーク入場者数.xlsx
9 ../csv/例題_データアナリティクス基礎\例題9_店舗別販売額.xlsx

In [3]:
df = pd.read_excel(files[3])
print(df.columns)
df.columns = ['id', 'customer_id', 'price', 'food', 'weekday', 'gender']
df.head()

Index(['データ番号', '顧客番号', '購入金額　(円）', '食品種類', '曜日', '性別'], dtype='object')

   id  customer_id  price  food weekday gender
0   1          153    220     肉     火曜日     女性
1   2          263    760  魚貝缶詰     火曜日     女性
2   3          321    920     卵     火曜日     男性
3   4          349    700    軽食     火曜日     女性
4   5          402    950    パン     火曜日     女性