In [ ]:
from glob import glob
import pandas as pd

In [2]:
files = glob("../csv/例題_データアナリティクス基礎/*")
# for i, f in enumerate(files):
#     print(i, f)

In [3]:
purchase_data = pd.read_excel(files[3])
purchase_data.columns = ['id', 'customer_id', 'price', 'food', 'weekday', 'gender']
purchase_data.head()

   id  customer_id  price  food weekday gender
0   1          153    220     肉     火曜日     女性
1   2          263    760  魚貝缶詰     火曜日     女性
2   3          321    920     卵     火曜日     男性
3   4          349    700    軽食     火曜日     女性
4   5          402    950    パン     火曜日     女性