In [233]:
from glob import glob
import pandas as pd

In [234]:
files = glob("../csv/例題_データアナリティクス基礎/*")
# for i, f in enumerate(files):
#     print(i, f)
bycycles = pd.read_excel(files[2])
bycycles.columns = ["id", "area", "size", "height", "type"]
# bycycles

タイプごとの数

In [219]:
bycycles.groupby(bycycles['type'], as_index=False).count()[['type', 'id']]

  type  id
0    X  14
1    Y   6
2    Z  10

地区平均の補完前後の比較

In [236]:
before = bycycles.groupby('area').mean(numeric_only=True)
display(before)

        id       size      height
area
A-1    3.5  26.333333  152.666667
A-2   10.5  26.428571  156.125000
B-1   17.5  26.400000  164.166667
B-2   25.5  26.555556  156.400000

In [242]:
area_mean = bycycles.groupby("area").mean(numeric_only=True)["size"]
print(area_mean)

bycycles_hokan = bycycles.copy()
bycycles_hokan[bycycles_hokan["area"] == "A-1"] = bycycles_hokan[
    bycycles_hokan["area"] == "A-1"
].fillna(area_mean["A-1"])
bycycles_hokan[bycycles_hokan["area"] == "B-1"] = bycycles_hokan[
    bycycles_hokan["area"] == "B-1"
].fillna(area_mean["B-1"])
bycycles_hokan[bycycles_hokan["area"] == "A-2"] = bycycles_hokan[
    bycycles_hokan["area"] == "A-2"
].fillna(area_mean["A-2"])
bycycles_hokan[bycycles_hokan["area"] == "B-2"] = bycycles_hokan[
    bycycles_hokan["area"] == "B-2"
].fillna(area_mean["B-2"])
after = bycycles_hokan.groupby("area").mean(numeric_only=True)
display(after['size'])

area
A-1    26.333333
A-2    26.428571
B-1    26.400000
B-2    26.555556
Name: size, dtype: float64

area
A-1    26.333333
A-2    26.428571
B-1    26.400000
B-2    26.555556
Name: size, dtype: float64

AとBの比較

In [243]:
area_a =  bycycles[(bycycles['area'] == 'A-1') | (bycycles['area'] == 'A-2')]
area_b =  bycycles[(bycycles['area'] == 'B-1') | (bycycles['area'] == 'B-2')]
print(area_a.groupby('type').count()['id'])
print(area_b.groupby('type').count()['id'])

type
X    6
Y    4
Z    4
Name: id, dtype: int64
type
X    8
Y    2
Z    6
Name: id, dtype: int64

タイヤサイズ当りの身長

In [244]:
type_mean = bycycles_hokan.groupby('type').mean(numeric_only=True)
type_mean['ratio'] = type_mean['height'] / type_mean['size'] * 2.54
type_mean

             id       size      height      ratio
type
X     16.714286  26.571429  155.928571  14.905430
Y     11.833333  26.238095  154.500000  14.956497
Z     16.000000  26.395556  160.400000  15.435023