In [1]:
from glob import glob
import pandas as pd

In [3]:
files = glob("../csv/例題_データアナリティクス基礎/*")
for i, f in enumerate(files):
    print(i, f)

0 ../csv/例題_データアナリティクス基礎\例題10_自由記述データ&形態素解析データ.xlsx
1 ../csv/例題_データアナリティクス基礎\例題11_乱数で発生させた分布の基本統計量.xlsx
2 ../csv/例題_データアナリティクス基礎\例題1_自転車データ.xlsx
3 ../csv/例題_データアナリティクス基礎\例題2_顧客ID付き食品購入データ.xlsx
4 ../csv/例題_データアナリティクス基礎\例題3_テレビ視聴アンケートデータ.xlsx
5 ../csv/例題_データアナリティクス基礎\例題4_5つの地域の事業所数.xlsx
6 ../csv/例題_データアナリティクス基礎\例題5_関東地方の人口データ.xlsx
7 ../csv/例題_データアナリティクス基礎\例題7_異なる授業形態による成績データ.xlsx
8 ../csv/例題_データアナリティクス基礎\例題8_遊園地テーマパーク入場者数.xlsx
9 ../csv/例題_データアナリティクス基礎\例題9_店舗別販売額.xlsx

In [7]:
questionnaire = pd.read_excel(files[4])
questionnaire.columns = ['id', 'gender', 'sports', 'interest']
questionnaire.head()

   id gender sports interest
0   1      男     みる       ない
1   2      男     みる       ない
2   3      男     みる       ない
3   4      女    みない       ある
4   5      女     みる       ある

スポーツ中継 × 商品への関心 についてのクロス集計表作成

In [55]:
questionnaire_count = questionnaire.pivot_table(index='sports', columns='interest', values='id', aggfunc='count')
questionnaire_count

interest   ある   ない
sports
みない       131   53
みる         68  188

スポーツ中継 × 商品への関心 の構成割合についてのクロス集計表作成

In [62]:
questionnaire_ratio = questionnaire_count.apply(lambda x: x / questionnaire_count.sum().sum())
questionnaire_ratio.style.format('{:.01%}', na_rep='-')

行・列にカウントの合計を追加

In [63]:
questionnaire_sum = questionnaire_count.copy()
questionnaire_sum['Total'] = questionnaire_sum.apply(lambda x : sum(x), axis=1)
questionnaire_sum.loc['Total'] = questionnaire_sum.apply(lambda x : sum(x), axis=0)
questionnaire_sum

interest   ある   ない  Total
sports
みない       131   53    184
みる         68  188    256
Total     199  241    440

行・列にカウントの割合合計を追加

In [66]:
questionnaire_sum2 = questionnaire_ratio.copy()
questionnaire_sum2['Total'] = questionnaire_sum2.apply(lambda x : sum(x), axis=1)
questionnaire_sum2.loc['Total'] = questionnaire_sum2.apply(lambda x : sum(x), axis=0)
questionnaire_sum2.style.format('{:.01%}', na_rep='-')

行のみの割合合計

In [83]:
questionnaire_count.apply(lambda x: x / sum(x), axis=1)

interest        ある        ない
sports
みない       0.711957  0.288043
みる        0.265625  0.734375