In [1]:
from glob import glob
import pandas as pd
import numpy as np
from scipy import stats  
import matplotlib.pyplot as plt
import japanize_matplotlib

In [2]:
files = glob("../csv/例題_データアナリティクス基礎/*")
for i, f in enumerate(files):
    print(i, f)

0 ../csv/例題_データアナリティクス基礎\例題10_自由記述データ&形態素解析データ.xlsx
1 ../csv/例題_データアナリティクス基礎\例題11_乱数で発生させた分布の基本統計量.xlsx
2 ../csv/例題_データアナリティクス基礎\例題1_自転車データ.xlsx
3 ../csv/例題_データアナリティクス基礎\例題2_顧客ID付き食品購入データ.xlsx
4 ../csv/例題_データアナリティクス基礎\例題3_テレビ視聴アンケートデータ.xlsx
5 ../csv/例題_データアナリティクス基礎\例題4_5つの地域の事業所数.xlsx
6 ../csv/例題_データアナリティクス基礎\例題5_関東地方の人口データ.xlsx
7 ../csv/例題_データアナリティクス基礎\例題7_異なる授業形態による成績データ.xlsx
8 ../csv/例題_データアナリティクス基礎\例題8_遊園地テーマパーク入場者数.xlsx
9 ../csv/例題_データアナリティクス基礎\例題9_店舗別販売額.xlsx

In [4]:
df = pd.read_excel(files[7])
print(df.columns)
df.columns = ['style', 'score']
df.head()

Index(['授業形態', '成績（点）'], dtype='object')

   style  score
0  オンライン     61
1  オンライン     58
2  オンライン     64
3  オンライン     62
4     対面     48

In [30]:
df_style = df.groupby('style').describe()
df_style

      score
      count    mean       std   min   25%   50%   75%   max
style
オンライン  40.0  58.925  3.157307  52.0  57.0  59.0  61.0  66.0
対面     40.0  54.500  3.351234  48.0  52.0  55.0  57.0  61.0

In [93]:
online_count = df_style.loc['オンライン']['score','count']
online_mean = df_style.loc['オンライン']['score','mean']
online_std = df_style.loc['オンライン']['score','std']
online_std_error = online_std / np.sqrt(online_count)

facing_count = df_style.loc['対面']['score','count']
facing_mean = df_style.loc['対面']['score','mean']
facing_std = df_style.loc['対面']['score','std']
facing_std_error = facing_std / np.sqrt(facing_count)

In [98]:
print(f"母平均の推定値: {online_mean:.01f}")
print(f"母標準偏差の推定値: {online_std:.02f}")
print(f"標本平均の標準誤差: {online_std_error:.01f}")

母平均の推定値: 58.9
母標準偏差の推定値: 3.16
標本平均の標準誤差: 0.5

In [100]:
print(f"母平均の推定値: {facing_mean:.01f}")
print(f"母標準偏差の推定値: {facing_std:.02f}")
print(f"標本平均の標準誤差: {facing_std_error:.01f}")

母平均の推定値: 54.5
母標準偏差の推定値: 3.35
標本平均の標準誤差: 0.5

In [101]:
alpha = 0.05
t_0025 = stats.t.ppf(1 - alpha/2, online_count-1)
print(t_0025)

2.022690911734728

In [106]:
online_upper = online_mean + t_0025 * online_std_error
online_lower = online_mean - t_0025 * online_std_error
print(f'online: [{online_lower:.01f}', f'{online_upper:.01f}]')

facing_upper = facing_mean + t_0025 * facing_std_error
facing_lower = facing_mean - t_0025 * facing_std_error
print(f'facing: [{facing_lower:.01f}', f'{facing_upper:.01f}]')

online: [57.9 59.9]
facing: [53.4 55.6]

In [114]:
x = df.query('style == "オンライン"')['score']
y = df.query('style == "対面"')['score']

In [130]:
# 母平均の差の検定
s, p = stats.ttest_ind(x, y, equal_var=False)
print(f't_value = {s:.03f}', f'p_value = {p:.2e}')
print(f'平均が等しい確率: {p:.02e}')

t_value = 6.078 p_value = 4.24e-08
平均が等しい確率: 4.24e-08