In [1]:
from glob import glob
import pandas as pd
import numpy as np
from scipy import stats  
import matplotlib.pyplot as plt
import japanize_matplotlib

In [2]:
files = glob("../csv/演習問題_データアナリティクス基礎/*")
for i, f in enumerate(files):
    print(i, f)

0 ../csv/演習問題_データアナリティクス基礎\第10章演習問題_乱数で発生させて分布の基本統計量.xlsx
1 ../csv/演習問題_データアナリティクス基礎\第2章演習問題_クレームデータ.xlsx
2 ../csv/演習問題_データアナリティクス基礎\第3章演習問題_職場ストレス.xlsx
3 ../csv/演習問題_データアナリティクス基礎\第4章演習問題_児童のネット利用時間.xlsx
4 ../csv/演習問題_データアナリティクス基礎\第5章演習問題_生鮮野菜の購入額.xlsx
5 ../csv/演習問題_データアナリティクス基礎\第7章演習問題_授業効果の検証.xlsx
6 ../csv/演習問題_データアナリティクス基礎\第8章演習問題1_健康食品・化粧品販売額.xlsx
7 ../csv/演習問題_データアナリティクス基礎\第8章演習問題2_百貨店の衣料品売上高.xlsx
8 ../csv/演習問題_データアナリティクス基礎\第9章演習問題_自由記述データ＆形態素解析データ.xlsx

In [3]:
df = pd.read_excel(files[5])
print(df.columns)
df.columns = ['id', 'before', 'after']
df.info()
df.head()

Index(['ID', '授業前', '授業後'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      19 non-null     int64
 1   before  19 non-null     int64
 2   after   19 non-null     int64
dtypes: int64(3)
memory usage: 584.0 bytes

   id  before  after
0   1      11     14
1   2      15     15
2   3      14     17
3   4      14     13
4   5      16     18

母平均の推定値

In [5]:
df.describe()

              id     before      after
count  19.000000  19.000000  19.000000
mean   10.000000  12.578947  14.105263
std     5.627314   2.433922   2.806634
min     1.000000   8.000000   7.000000
25%     5.500000  11.000000  13.000000
50%    10.000000  13.000000  14.000000
75%    14.500000  14.000000  16.000000
max    19.000000  16.000000  18.000000

In [7]:
print(f'授業前の母平均推定値: {df.describe().iloc[1, 1]:.01f}')

授業前の母平均推定値: 12.6

授業前の母平均の標本誤差

In [16]:
print(f'標本平均の標準誤差: {(df["before"].std() / np.sqrt(df.shape[0])):.02f}')

標本平均の標準誤差: 0.56

授業前の母平均のt分布に基づく信頼度95%の信頼上限

In [60]:
alpha = 0.05
n = df.shape[0]
mean_before = df['before'].mean()
t = stats.t.ppf(1-alpha/2, n)
std_before = df['before'].std() / np.sqrt(n)
# print(mean_before, t, std_before)
upper_limit = round(mean_before + t * std_before, 2)
lower_limit = round(mean_before - t * std_before, 2)
print(f'[{lower_limit:.01f}', f'{upper_limit:.01f}]')

[11.4 13.8]

授業前後について仮説検定を行う

In [66]:
stats_date = df.describe()
stats_date

              id     before      after
count  19.000000  19.000000  19.000000
mean   10.000000  12.578947  14.105263
std     5.627314   2.433922   2.806634
min     1.000000   8.000000   7.000000
25%     5.500000  11.000000  13.000000
50%    10.000000  13.000000  14.000000
75%    14.500000  14.000000  16.000000
max    19.000000  16.000000  18.000000

In [69]:
n = stats_date.loc['count', 'id']
m_before = stats_date.loc['mean', 'before']
m_after = stats_date.loc['mean', 'after']
std_before = stats_date.loc['std', 'before']
std_after = stats_date.loc['std', 'after']
std_error_before = std_before / n
std_error_before = std_after / n

In [87]:
mean_ba = (df['before'] - df['after']).mean()
std_ba = (df['before'] - df['after']).std()
mean_ba / std_ba

-0.8449389927846943

In [80]:
stats.ttest_ind(df['before'], df['after'], equal_var=True, alternative='less'), stats.ttest_ind(df['before'], df['after'], equal_var=True, alternative='greater')

(TtestResult(statistic=-1.7908666588639437, pvalue=0.0408632471012336, df=36.0),
 TtestResult(statistic=-1.7908666588639437, pvalue=0.9591367528987664, df=36.0))

In [81]:
stats.ttest_ind(df['before'], df['after'], equal_var=True, alternative='two-sided'), stats.ttest_ind(df['before'], df['after'], equal_var=False, alternative='two-sided'),

(TtestResult(statistic=-1.7908666588639437, pvalue=0.0817264942024672, df=36.0),
 TtestResult(statistic=-1.7908666588639437, pvalue=0.08189515224197876, df=35.29309879890642))