In [1]:
from glob import glob
import pandas as pd
import numpy as np
from scipy import stats  
import matplotlib.pyplot as plt
import japanize_matplotlib

In [2]:
files = glob("../csv/演習問題_データアナリティクス基礎/*")
for i, f in enumerate(files):
    print(i, f)

0 ../csv/演習問題_データアナリティクス基礎\第10章演習問題_乱数で発生させて分布の基本統計量.xlsx
1 ../csv/演習問題_データアナリティクス基礎\第2章演習問題_クレームデータ.xlsx
2 ../csv/演習問題_データアナリティクス基礎\第3章演習問題_職場ストレス.xlsx
3 ../csv/演習問題_データアナリティクス基礎\第4章演習問題_児童のネット利用時間.xlsx
4 ../csv/演習問題_データアナリティクス基礎\第5章演習問題_生鮮野菜の購入額.xlsx
5 ../csv/演習問題_データアナリティクス基礎\第7章演習問題_授業効果の検証.xlsx
6 ../csv/演習問題_データアナリティクス基礎\第8章演習問題1_健康食品・化粧品販売額.xlsx
7 ../csv/演習問題_データアナリティクス基礎\第8章演習問題2_百貨店の衣料品売上高.xlsx
8 ../csv/演習問題_データアナリティクス基礎\第9章演習問題_自由記述データ＆形態素解析データ.xlsx

In [3]:
df = pd.read_excel(files[5])
print(df.columns)
df.columns = ['id', 'before', 'after']
df.info()
df.head()

Index(['ID', '授業前', '授業後'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      19 non-null     int64
 1   before  19 non-null     int64
 2   after   19 non-null     int64
dtypes: int64(3)
memory usage: 584.0 bytes

   id  before  after
0   1      11     14
1   2      15     15
2   3      14     17
3   4      14     13
4   5      16     18

母平均の推定値

In [4]:
df.describe()

              id     before      after
count  19.000000  19.000000  19.000000
mean   10.000000  12.578947  14.105263
std     5.627314   2.433922   2.806634
min     1.000000   8.000000   7.000000
25%     5.500000  11.000000  13.000000
50%    10.000000  13.000000  14.000000
75%    14.500000  14.000000  16.000000
max    19.000000  16.000000  18.000000

In [5]:
print(f'授業前の母平均推定値: {df.describe().iloc[1, 1]:.01f}')

授業前の母平均推定値: 12.6

授業前の母平均の標本誤差

In [6]:
print(f'標本平均の標準誤差: {(df["before"].std() / np.sqrt(df.shape[0])):.02f}')

標本平均の標準誤差: 0.56

授業前の母平均のt分布に基づく信頼度95%の信頼上限

In [7]:
alpha = 0.05
n = df.shape[0]
mean_before = df['before'].mean()
t = stats.t.ppf(1-alpha/2, n)
std_before = df['before'].std() / np.sqrt(n)
# print(mean_before, t, std_before)
upper_limit = round(mean_before + t * std_before, 2)
lower_limit = round(mean_before - t * std_before, 2)
print(f'[{lower_limit:.01f}', f'{upper_limit:.01f}]')

[11.4 13.8]

授業前後について一対の標本による平均の検定（対応のある2標本t検定）

In [13]:
stats_date = df.describe()
stats_date

              id     before      after
count  19.000000  19.000000  19.000000
mean   10.000000  12.578947  14.105263
std     5.627314   2.433922   2.806634
min     1.000000   8.000000   7.000000
25%     5.500000  11.000000  13.000000
50%    10.000000  13.000000  14.000000
75%    14.500000  14.000000  16.000000
max    19.000000  16.000000  18.000000

対応のある2標本のt検定
- $H_0: \mu_1 = \mu_2 $ 
- $H_1: \mu_1 \neq \mu_2 $

以下の二つの方法を示す

In [37]:
# Calculate the T-test for the mean of ONE group of scores.
result1 = stats.ttest_1samp(df['before'] - df['after'], popmean=0)
print(f't_value: {result1[0]:.03f}, p_value: {result1[1]:.04f}')

# Calculates the T-test on TWO RELATED samples of scores, a and b.
result2 = stats.ttest_rel(df['before'], df['after'], alternative='two-sided')
print(f't_value: {result2[0]:.03f}, p_value: {result2[1]:.04f}')

t_value: -3.683, p_value: 0.0017

手計算による検算

In [59]:
n = df.shape[0]
ab = df['before'] - df['after']
sample_std_ab = ab.std() / np.sqrt(n)
t_value = (ab.mean() - 0) / sample_std_ab
print(f't_value: {t_value:.03f}')

t_value: -3.683